.box {
    -webkit-box-shadow: 12px 7px 34px 3px rgba(0, 0, 0, 0.79);
    box-shadow: 12px 7px 34px 3px rgba(0, 0, 0, 0.79);
}
.box2 {
    -webkit-box-shadow: 12px 7px 34px 3px rgba(244, 255, 251, 0.53);
    box-shadow: 12px 7px 34px 3px rgba(244, 255, 251, 0.53);
}
