#home-section {
    /* clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%); */
    /* clip-path: polygon(75% 100%, 100% 100%, 100% 50%, 75% 100%, 0 100%, 0 62%); */
    clip-path: polygon(120% 69%, 100% 67%, 100% 10%, 53% 61%, 0 37%, 0 5%);
    background: linear-gradient(to bottom, #7d6797 0%, #d6bbdf 100%);
    height: 450px;
}

.flip-in-hor-top {
    -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-top {
    0% {
        -webkit-transform: rotateX(-80deg);
        transform: rotateX(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-top {
    0% {
        -webkit-transform: rotateX(-80deg);
        transform: rotateX(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
